.button a {
    padding: .5rem 2rem;
    border-radius: 5rem;
    position: relative;
    font-size: 1.8rem;
    transition: cubic-bezier(0.45, -0.31, 0.89, 1.36);
    background: linear-gradient(to left, #00dfd8, #007cf0);
}

.button a::after {
    content: attr(data-text);
    display: grid;
    place-items: center;
    position: absolute;
    width: calc(100% - .4rem);
    height: calc(100% - .4rem);
    top: .2rem;
    left: .2rem;
    font-weight: bold;
    background: var(--white);
    box-sizing: border-box;
    border-radius: 5rem;
}

.button a:hover::after {
    background: linear-gradient(to left, #00dfd8, #007cf0);
}