.nav-tab a {
    padding: .5rem 1rem;
    background: var(--white);
    position: relative;
    font-size: 1.5rem;
    border-radius: .75rem;
}

.nav-tab a::after {
    content: attr(data-text);
    background: var(--white);
    position: absolute;
    display: grid;
    place-items: center;
    width: calc(100% - .4rem);
    height: calc(100% - .3rem);
    top: .15rem;
    left: .2rem;
    font-size: 1.5rem;
    border-radius: .6rem;
}


.nav-tab a:hover {
    background: linear-gradient(to right, var(--c1), var(--c2));
}