@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --primary: #163955;
    --secondary: #8fcbeb;
    --black: #000000;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--black);
    background: var(--white);
    font-family: 'Poppins', sans-serif;
}

body.dark {
    --white: #000000;
    --black: #ffffff;
}

body.light {
    --black: #000000;
    --white: #ffffff;
}

a {
    color: var(--black);
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
}